<!-- Big Header -->
<section style="background-image: url('../../../assets/background.jpg')" class="relative w-full pb-8 bg-no-repeat bg-cover bg-center w-screen">
   

    <!-- Mini Header -->
    <div class="flex w-full p-8 flex justify-between items-center z-50">
        <!-- Here for the LOGO -->
        <img src="../../../assets/logo-dbh.png" alt="" routerLink="/home" class="w-[60px] h-[60px] rounded-full">
        <svg (click)="this.toggleMenu()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="lg:hidden text-white w-8 h-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
        <span class="hidden lg:flex justify-between w-1/3">
            <a routerLink="/home" class="text-white text-[18px]" href="#">Accueil</a>
            <a class="text-white text-[18px]" href="#">A propos de</a>
            <a routerLink="/service" class="text-white text-[18px]" href="#">Nos services</a>
        </span>

        <span class="hidden lg:flex space-x-5 items-center">
            <p class="text-white">+221 776096612</p>
            <button class="rounded-full text-white py-4 bg-inherit border border-white w-[150px]">Contacts</button>
        </span>
    </div>

    <div class="w-full flex flex-col lg:flex-row-reverse items-center space-y-4 lg:space-y-0 lg:m-32">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white animate-pulse w-[125px] h-[125px] lg:w-1/2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
        </svg>

        <div class="flex flex-col items-center lg:items-start space-y-4 lg:space-y-8 lg:w-1/2">
            <span data-aos="fade-right" data-aos-duration="1500" class="text-white font-bold text-[40px] lg:text-[60px] w-4/5 text-center lg:text-start">
                Nos services !
            </span>
    
            <span data-aos="fade-left" data-aos-duration="1500" class="text-slate-300 text-[18px] lg:text-[20px] w-4/5 text-center lg:text-start">
                Pour avoir à mieux traiter les besoins de nos clients, leur procurer satisfaction par rapport à leurs attentes nous avons procéder à un ciblage puis une segmentation de l'ensemble de nos partenaires pour mieux cerner leurs demandes et y subvenir.
            </span>
    
            <button class="flex items-center justify-center space-x-2 rounded-full text-white py-4 bg-sky-500 w-1/2 lg:w-1/3">Voir plus
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                </svg>
            </button>
        </div>
    </div>
</section>

<!-- SECTION CONTENT -->

<section class="w-full flex flex-col lg:flex-row space-y-8 lg:space-y-0 lg:space-x-4 px-5 py-8">
    <div class="flex flex-col space-y-4 lg:w-1/3">
        <span class="flex flex-col">
            <p class="text-[25px] text-sky-500 font-bold">Marketing Digital</p>
            <div class="w-1/5 h-[8px] rounded-full bg-sky-500"></div>
        </span>
        <div class="text-[18px] text-slate-300">
            Etude de marché Proposition commerciale Community management Stratégie de communication Business plan. Etude de marché Proposition commerciale Community management Stratégie de communication Business plan.
        </div>
        <img data-aos="fade-right" data-aos-duration="1500" src="../../../assets/marketing.jpg" alt="" class="w-full h-[300px]">
    </div>

    <div class="flex flex-col space-y-4 lg:w-1/3">
        <span class="flex flex-col">
            <p class="text-[25px] text-sky-500 font-bold">Infographie</p>
            <div class="w-1/5 h-[8px] rounded-full bg-sky-500"></div>
        </span>
        <div class="text-[18px] text-slate-300">
            Confection graphique Suivi et Contrôle de la chaine graphique Confection graphique Suivi et Contrôle de la chaine graphique Confection graphique Suivi et Contrôle de la chaine graphique.
        </div>
        <img data-aos="fade-left" data-aos-duration="1500" src="../../../assets/dessin.jpg" alt="" class="w-full h-[300px]">
    </div>

    <div class="flex flex-col space-y-4 lg:w-1/3">
        <span class="flex flex-col">
            <p class="text-[25px] text-sky-500 font-bold">Informatique</p>
            <div class="w-1/5 h-[8px] rounded-full bg-sky-500"></div>
        </span>
        <div class="text-[18px] text-slate-300">
            Production d'application web mobile Création de site web, Vente d'application web et mobile déjà opérationnel. Nos produits sont généralement qualifiés Haut de gamme.
        </div>
        <img data-aos="fade-right" data-aos-duration="1500" src="../../../assets/ordi.jpg" alt="" class="w-full h-[300px]">
    </div>
</section>

<!-- SECTION DU FOOTER -->
<section class="w-full flex flex-col space-y-5 items-center py-5 lg:py-8">
    <div class="flex space-x-3 items-center">
        <img src="../../../assets/logo-dbh.png" alt="" class="w-[60px] h-[60px] rounded-full">
        <p class="text-[25px] text-sky-500 font-bold">Diaw Business Holding</p>
    </div>

    <div class="flex space-x-3">
        <span class="flex rounded-full bg-sky-500 h-[40px] w-[40px]">
            <p class="font-bold text-[18px] text-white m-auto">f</p>
        </span>

        <span class="flex rounded-full bg-sky-500 h-[40px] w-[40px]">
            <p class="font-bold text-[18px] text-white m-auto">X</p>
        </span>

        <span class="flex rounded-full bg-sky-500 h-[40px] w-[40px]">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white m-auto font-bold">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
            </svg>
        </span>
    </div>

    <p class="text-sky-500 text-[18px]">2024 © Solution de DBH Tous droits réservés</p>
</section>

<!-- SECTION SIDE BAR -->
<section *ngIf="this.seeMenu" class="flex w-full fixed inset-0 z-50 h-screen lg:hidden">
    <svg (click)="this.toggleMenu()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-sky-500 absolute top-2 left-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>
    <div class="w-3/5 h-full bg-sky-100 rounded-tr-full flex flex-col justify-center">
        <span routerLink="/home" class="flex w-full p-3 justify-between items-center">
            <p class="text-[18px] text-sky-500">Accueil</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-sky-500">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
        </span>

        <span class="flex w-full p-3 justify-between items-center">
            <p class="text-[18px] text-sky-500">A propos de</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-sky-500">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
        </span>

        <span routerLink="/service" class="flex w-full p-3 justify-between items-center">
            <p class="text-[18px] text-sky-500">Nos services</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-sky-500">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
        </span>

        <span class="flex w-full p-3 justify-between items-center">
            <p class="text-[18px] text-sky-500">Contacts</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-sky-500">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
        </span>
    </div>
    <div (click)="this.toggleMenu()" class="w-2/5 h-full"></div>
</section>